In [8]:
import pandas as pd
enumeration_df = pd.read_excel('4999_Enumeration.xlsx')
print(enumeration_df)

      Start      End   Days  Value
0    8:00am   8:50am    M/W      1
1    9:05am   9:55am    M/W      2
2   10:10am  11:00am    M/W      3
3   11:15am  12:05am    M/W      4
4   12:20am   1:10pm    M/W      5
5    1:25pm   2:15pm    M/W      6
6    2:30pm   3:20pm    M/W      7
7    3:35pm   4:25pm    M/W      8
8    8:40am   9:55am    M/W      9
9    2:55pm   4:10pm    M/W     10
10   7:30pm   8:45pm    M/W     11
11   8:00am   8:50am  Tu/Th     12
12   9:05am   9:55am  Tu/Th     13
13  10:10am  11:00am  Tu/Th     14
14  11:15am  12:05am  Tu/Th     15
15  12:20am   1:10pm  Tu/Th     16
16   1:25pm   2:15pm  Tu/Th     17
17   2:30pm   3:20pm  Tu/Th     18
18   3:35pm   4:25pm  Tu/Th     19
19   8:40am   9:55am  Tu/Th     20
20  10:10am  11:25am  Tu/Th     21
21  11:40am  12:55am  Tu/Th     22
22   1:25pm   2:40pm  Tu/Th     23
23   2:55pm   4:10pm  Tu/Th     24
24   7:30pm   8:20pm      M     25
25   8:35pm   9:25pm      M     26
26   7:30pm   8:20pm      W     27
27   8:35pm   9:25pm      W     28
28   8:00am   8:50am      F     29
29   9:05am   9:55am      F     30
30  10:10am  11:00am      F     31
31  11:15am  12:05am      F     32
32  12:20am   1:10pm      F     33
33   1:25pm   2:15pm      F     34
34   2:30pm   3:20pm      F     35
35   3:35pm   4:25pm      F     36

In [9]:
pivot_df = enumeration_df.pivot(index='Time', columns='Days', values='Value')
print(pivot_df)

KeyError: 'Time'

In [4]:
enumeration_matrix = pivot_df.values
print(enumeration_matrix)

[[31. nan  3. 14. nan]
 [nan nan nan 21. nan]
 [32. nan  4. 15. nan]
 [nan nan nan 22. nan]
 [33. nan  5. 16. nan]
 [34. nan  6. 17. nan]
 [nan nan nan 23. nan]
 [35. nan  7. 18. nan]
 [nan nan 10. 24. nan]
 [36. nan  8. 19. nan]
 [nan 25. nan nan 27.]
 [nan nan 11. nan nan]
 [29. nan  1. 12. nan]
 [nan 26. nan nan 28.]
 [nan nan  9. 20. nan]
 [30. nan  2. 13. nan]]

In [11]:
meeting_df = pd.DataFrame(enumeration_df)
meeting_df

      Start      End   Days  Value
0    8:00am   8:50am    M/W      1
1    9:05am   9:55am    M/W      2
2   10:10am  11:00am    M/W      3
3   11:15am  12:05am    M/W      4
4   12:20am   1:10pm    M/W      5
5    1:25pm   2:15pm    M/W      6
6    2:30pm   3:20pm    M/W      7
7    3:35pm   4:25pm    M/W      8
8    8:40am   9:55am    M/W      9
9    2:55pm   4:10pm    M/W     10
10   7:30pm   8:45pm    M/W     11
11   8:00am   8:50am  Tu/Th     12
12   9:05am   9:55am  Tu/Th     13
13  10:10am  11:00am  Tu/Th     14
14  11:15am  12:05am  Tu/Th     15
15  12:20am   1:10pm  Tu/Th     16
16   1:25pm   2:15pm  Tu/Th     17
17   2:30pm   3:20pm  Tu/Th     18
18   3:35pm   4:25pm  Tu/Th     19
19   8:40am   9:55am  Tu/Th     20
20  10:10am  11:25am  Tu/Th     21
21  11:40am  12:55am  Tu/Th     22
22   1:25pm   2:40pm  Tu/Th     23
23   2:55pm   4:10pm  Tu/Th     24
24   7:30pm   8:20pm      M     25
25   8:35pm   9:25pm      M     26
26   7:30pm   8:20pm      W     27
27   8:35pm   9:25pm      W     28
28   8:00am   8:50am      F     29
29   9:05am   9:55am      F     30
30  10:10am  11:00am      F     31
31  11:15am  12:05am      F     32
32  12:20am   1:10pm      F     33
33   1:25pm   2:15pm      F     34
34   2:30pm   3:20pm      F     35
35   3:35pm   4:25pm      F     36

In [13]:
def time_to_minutes(time_str):
    hours, minutes = map(int, time_str[:-2].split(':'))
    if 'pm' in time_str.lower() and hours != 12:
        hours += 12
    return hours * 60 + minutes

In [18]:
def convert_time_to_minutes(time_str):
    hour, minute = time_str.split(':')
    return int(hour) * 60 + int(minute[:-2]) + (0 if time_str.endswith('am') else 12 * 60)

# Apply the function to each value in the 'Start' column
meeting_df['Start'] = meeting_df['Start'].apply(convert_time_to_minutes)

# Apply the function to each value in the 'End' column
meeting_df['End'] = meeting_df['End'].apply(convert_time_to_minutes)

print(meeting_df)

    Start   End   Days  Value
0     480   530    M/W      1
1     545   595    M/W      2
2     610   660    M/W      3
3     675   725    M/W      4
4     740   790    M/W      5
5     805   855    M/W      6
6     870   920    M/W      7
7     935   985    M/W      8
8     520   595    M/W      9
9     895   970    M/W     10
10   1170  1245    M/W     11
11    480   530  Tu/Th     12
12    545   595  Tu/Th     13
13    610   660  Tu/Th     14
14    675   725  Tu/Th     15
15    740   790  Tu/Th     16
16    805   855  Tu/Th     17
17    870   920  Tu/Th     18
18    935   985  Tu/Th     19
19    520   595  Tu/Th     20
20    610   685  Tu/Th     21
21    700   775  Tu/Th     22
22    805   880  Tu/Th     23
23    895   970  Tu/Th     24
24   1170  1220      M     25
25   1235  1285      M     26
26   1170  1220      W     27
27   1235  1285      W     28
28    480   530      F     29
29    545   595      F     30
30    610   660      F     31
31    675   725      F     32
32    740   790      F     33
33    805   855      F     34
34    870   920      F     35
35    935   985      F     36

In [19]:
correcttimes_df = pd.DataFrame(meeting_df)

In [20]:
correcttimes_df

    Start   End   Days  Value
0     480   530    M/W      1
1     545   595    M/W      2
2     610   660    M/W      3
3     675   725    M/W      4
4     740   790    M/W      5
5     805   855    M/W      6
6     870   920    M/W      7
7     935   985    M/W      8
8     520   595    M/W      9
9     895   970    M/W     10
10   1170  1245    M/W     11
11    480   530  Tu/Th     12
12    545   595  Tu/Th     13
13    610   660  Tu/Th     14
14    675   725  Tu/Th     15
15    740   790  Tu/Th     16
16    805   855  Tu/Th     17
17    870   920  Tu/Th     18
18    935   985  Tu/Th     19
19    520   595  Tu/Th     20
20    610   685  Tu/Th     21
21    700   775  Tu/Th     22
22    805   880  Tu/Th     23
23    895   970  Tu/Th     24
24   1170  1220      M     25
25   1235  1285      M     26
26   1170  1220      W     27
27   1235  1285      W     28
28    480   530      F     29
29    545   595      F     30
30    610   660      F     31
31    675   725      F     32
32    740   790      F     33
33    805   855      F     34
34    870   920      F     35
35    935   985      F     36

In [14]:
matrix_size = len(correcttimes_df)
overlap_matrix = np.zeros((matrix_size, matrix_size), dtype=int)

# Iterate over each pair of rows
for i in range(matrix_size):
    for j in range(matrix_size):
        days_overlap = set(correcttimes_df.iloc[i]['Days'].split('/')).intersection(set(correcttimes_df.iloc[j]['Days'].split('/')))
        start_overlap = correcttimes_df.iloc[i]['Start'] <= correcttimes_df.iloc[j]['End'] and correcttimes_df.iloc[i]['End'] >= correcttimes_df.iloc[j]['Start']
        overlap_matrix[i, j] = 1 if days_overlap and start_overlap else 0

overlap_matrix_df = pd.DataFrame(overlap_matrix, index=correcttimes_df['Value'], columns=correcttimes_df['Value'].values)
print(overlap_matrix_df)

       1   2   3   4   5   6   7   8   9   10  ...  27  28  29  30  31  32  \
Value                                          ...
1       1   0   0   0   0   0   0   0   1   0  ...   0   0   0   0   0   0
2       0   1   0   0   0   0   0   0   1   0  ...   0   0   0   0   0   0
3       0   0   1   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
4       0   0   0   1   0   0   0   0   0   0  ...   0   0   0   0   0   0
5       0   0   0   0   1   0   0   0   0   0  ...   0   0   0   0   0   0
6       0   0   0   0   0   1   0   0   0   0  ...   0   0   0   0   0   0
7       0   0   0   0   0   0   1   0   0   1  ...   0   0   0   0   0   0
8       0   0   0   0   0   0   0   1   0   1  ...   0   0   0   0   0   0
9       1   1   0   0   0   0   0   0   1   0  ...   0   0   0   0   0   0
10      0   0   0   0   0   0   1   1   0   1  ...   0   0   0   0   0   0
11      0   0   0   0   0   0   0   0   0   0  ...   1   1   0   0   0   0
12      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
13      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
14      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
15      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
16      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
17      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
18      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
19      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
20      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
21      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
22      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
23      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
24      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
25      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
26      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
27      0   0   0   0   0   0   0   0   0   0  ...   1   0   0   0   0   0
28      0   0   0   0   0   0   0   0   0   0  ...   0   1   0   0   0   0
29      0   0   0   0   0   0   0   0   0   0  ...   0   0   1   0   0   0
30      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0
31      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   1   0
32      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   1
33      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
34      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
35      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
36      0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0

       33  34  35  36
Value
1       0   0   0   0
2       0   0   0   0
3       0   0   0   0
4       0   0   0   0
5       0   0   0   0
6       0   0   0   0
7       0   0   0   0
8       0   0   0   0
9       0   0   0   0
10      0   0   0   0
11      0   0   0   0
12      0   0   0   0
13      0   0   0   0
14      0   0   0   0
15      0   0   0   0
16      0   0   0   0
17      0   0   0   0
18      0   0   0   0
19      0   0   0   0
20      0   0   0   0
21      0   0   0   0
22      0   0   0   0
23      0   0   0   0
24      0   0   0   0
25      0   0   0   0
26      0   0   0   0
27      0   0   0   0
28      0   0   0   0
29      0   0   0   0
30      0   0   0   0
31      0   0   0   0
32      0   0   0   0
33      1   0   0   0
34      0   1   0   0
35      0   0   1   0
36      0   0   0   1

[36 rows x 36 columns]